body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, rgba(139,64,182,1) 0%, rgba(184,0,0,1) 76%, rgba(255,145,0,1) 100%);
    padding: 85px;
}

input[type=text],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffffbe;
}

input[type=submit]{
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    background-color: #9a5acf;
    color: #111111be;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #9927db;
}


div{
    border-radius: 20px 40px;
    background-color: #f2f2f2be ;
    padding: 20px;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}



h3 {
    text-align: center;
    font-size: 45px;
    color: #000000;
}