#produtos {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

#carrinho {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: block;
}

.produto-single{
    width: 33.3%;
    padding: 0 20px;
}

body {
    text-align: center;
}


button {
    background-color: aqua;
    border: none;
}

img {
    width: 70%;
}

img:hover {
    width: 80%;
    box-shadow: 10px 10px rgba(128, 128, 128, 0.425);
}